[submodule "shiftrr-api"]
	path = shiftrr-api
	url = git@github.com:adeecc/shiftrr-api.git
[submodule "api"]
	path = api
	url = git@github.com:adeecc/shiftrr-api.git
[submodule "client"]
	path = client
	url = git@github.com:adeecc/shiftrr-client.git
